.donate {
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem 0;
  align-items: center;
  justify-items: center;

  @mixin atSmall {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  @mixin atMedium {
    gap: 0 2rem;
  }


  /* contains the image of the donation platform, text content and donate link */
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content 4rem;

    @mixin atSmall {
      grid-template-columns: 1fr;
    }

    @mixin atLarge {
      grid-template-rows: 7rem min-content 4rem;
    }

  }

  /* Click Button to Donate using ... */
  &__content .paragraph--medium {
    margin-top: .3rem;
  }

  /*  cash app & paypal logo */
  &__content img {

    @mixin atLarge {
      max-width: 19rem;
      margin: 0 auto;
    }

  }

  /* centers the cash app & paypal content */
  &__content a {
    justify-self: center;
  }


  /* amazon platform */
  &__amazon {
    position: relative;
    background-image: url('./assets/images/amazon-bg-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
    color: $black;
  }


  &__amazon-text-content {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
  }


  /* Support Transforming Youths Into Adults */
  &__amazon-text-content h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0 1rem;
  }


  /* When you shop at smile.amazon.com ... */
  &__amazon-text-content p {
    font-family: 'BeVietnam-Regular';
    font-size: 15px;
    line-height: 20px;
    color: $black;
    text-align: center;
    margin: .5rem 0 0rem 0;
    padding: 0;
    background: 0 0;

  }


}