.paragraph {
  font-family: 'BeVietnam-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $black;
  margin-bottom: 1.25rem;

  @mixin atSmall {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 3.125rem;
  }

  &--small {
    font-size: 14px;
    font-weight: 400px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 0px;

    @mixin atSmall {
      font-size: 18px;
      line-height: 27px;
    }

  }

  &--medium {
    font-size: 16px;
    line-height: 30px;

    @mixin atSmall {
      font-size: 18px;
      line-height: 30px;
    }

    @mixin atMedium {
      font-size: 21px;
      line-height: 33px;
    }
  }

  &--large {
    font-size: 21px;
    line-height: 30px;

    @mixin atSmall {
      font-size: 30px;
      line-height: 40px;
      max-width: 904px;
      margin-right: auto;
      margin-left: auto;
    }

    @mixin atMedium {
      max-width: 700px;
    }

    @mixin atLarge {
      font-size: 48px;
      line-height: 60px;
      max-width: 1024px;
    }

  }


  &--white {
    color: #fff;
  }

  & a {
    color: $green;
    font-weight: bold;
  }

  &__mb {
    margin-bottom: 3rem;
  }

  &__mt {
    margin-top: 3rem;

    @mixin atSmall {
      margin-top: 4rem;
    }

    @mixin atLarge {
      margin-top: 6rem;
    }

  }


  /* creates the orange dots to the left of paragraphs that are in a list. */
  &__lists li {
    position: relative;
    list-style-type: none;
  }

  &__lists li:before {
    position: absolute;
    content: "";
    top: 55%;
    transform: translateY(-55%);
    left: 0px;
    width: 8px;
    height: 8px;
    background-image: url('./assets/images/orange-circle.png');
  }

  &__lists p {
    margin-left: 24px;
  }

}