@font-face {
  font-family: 'BeVietnam-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-Bold.ttf');
}

@font-face {
  font-family: 'BeVietnam-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-BoldItalic.ttf');
}

@font-face {
  font-family: 'BeVietnam-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-ExtraBold.ttf');
}

@font-face {
  font-family: 'BeVietnam-ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'BeVietnam-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-Italic.ttf');
}

@font-face {
  font-family: 'BeVietnam-Light';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-Light.ttf');
}

@font-face {
  font-family: 'BeVietnam-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-LightItalic.ttf');
}

@font-face {
  font-family: 'BeVietnam-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-Medium.ttf');
}

@font-face {
  font-family: 'BeVietnam-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-MediumItalic.ttf');
}

@font-face {
  font-family: 'BeVietnam-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-Regular.ttf');
}

@font-face {
  font-family: 'BeVietnam-SemiBoldr';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-SemiBold.ttf');
}

@font-face {
  font-family: 'BeVietnam-SemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'BeVietnam-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-Thin.ttf');
}

@font-face {
  font-family: 'BeVietnam-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/BeVietnam-ThinItalic.ttf');
}