.about {

  /* centers the icons */
  &__icon {
    text-align: center;
  }

  /* contains the icons and the text section to the right of them. */
  &__icon-and-text-content {
    background-color: #fff;
    padding: 5px 20px;
    margin-top: 5rem;

    /* creates the orange and green gradient border at the bottom on mobile screens. */
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(to right, rgba(255, 115, 48, 1) 0%, rgba(13, 185, 0, 1) 100%) border-box;
    border-bottom: 1.375rem solid transparent;
    border-radius: 12px;

    @mixin atSmall {
      padding: 15px 20px;
    }

    @mixin atXLarge {
      padding: 5px 120px 5px 60px;
    }

  }


  /* creates the orange and green gradient border on the right on desktop screens. */
  &__color-gradient-on-right {

    @mixin atMedium {
      background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to bottom, rgba(255, 115, 48, 1) 0%, rgba(13, 185, 0, 1) 100%) border-box;
      border-bottom: none;
      border-right: 24px solid transparent;
      border-radius: 12px;
    }

  }

  /* creates the orange and green gradient border on the left on desktop screens. */
  &__color-gradient-on-left {

    @mixin atMedium {
      background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to bottom, rgba(255, 115, 48, 1) 0%, rgba(13, 185, 0, 1) 100%) border-box;
      border-bottom: none;
      border-left: 1.375rem solid transparent;
      border-radius: 12px;
    }

  }


  /* social media icons */
  &__social-media {
    display: none;

    @mixin atMedium {
      display: flex;
      align-items: center;
    }
  }

  &__social-media li {
    margin-right: 10px;
  }

}