.donate {

  /* removes the radio button circle */
  &__radio-input {
    display: none;
  }


  /* playment plans & the different amount */
  &__payment-plan, &__amount {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 135%;
    color: $medium-gray;
    background-color: #fff;
    border: 2px solid $medium-gray;
    border-radius: 8px;
    padding: 10px;
    height: 60px;
    cursor: pointer;
    transition: all .3s ease-out;
  }


  /* apply the stated styles whenever one of the playment plans & the different amount are clicked */
  input[type="radio"]:checked+label {
    color: #fff;
    background-color: $green;
    border: 2px solid $green;
  }


  /* text field */
  &__value {
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: $black-medium;
    outline: none;
    font-family: 'BeVietnam-Medium';
    font-size: 30px;
  }


  /* black line used to replace the text filed */
  &__bar {
    position: relative;
    background: black;
    content: "";
    height: 2px;
  }

  &__before {
    position: absolute;
    content: "";
    width: 100%;
    height: 150%;
  }


  /* allows the dollar sign and input text field to be side by side */
  &__value-wrapper {
    display: grid;
    grid-template-columns: 2em 1fr;
    align-items: end;
  }


  /* adds the dollar sign to the left of the text field */
  &__dollar-sign {
    background-image: url('./assets/images/dollar-sign.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
  }


  /* donate button */
  &__submit {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 135%;
    color: #fff;
    background-color: $green;
    border: 2px solid $green;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
  }

  &__hide {
    display: none;
  }


  /* places the 'USD' image at the right of the text field */
  &__us-currency {
    border: 0;
    padding: 0;
    margin: -34px 0 0 -22px;
    width: 80px;
    height: 33px;
    background: transparent url('./assets/images/usd.png') center center no-repeat;
    float: right;
  }

}