.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;

  /* hero images */
  &__image {
    grid-column: 1/-1;
    grid-row: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }


  /* homepage hero image */
  &__image-home {
    background-image: url('./assets/images/hero--hompage.png');

    @mixin atXLarge {
      min-height: calc(100vh - 60px);
    }

  }


  /* about us page hero image */
  &__image-about {
    background-image: url('./assets/images/hero--about-us.jpg');

    @mixin atXLarge {
      min-height: calc(100vh - 180px);
    }

  }


  /* join us page hero image */
  &__image-join {
    background-image: url('./assets/images/hero--join-us.jpg');

    @mixin atXLarge {
      min-height: calc(100vh - 180px);
    }

  }


  /* services page hero image */
  &__image-services {
    background-image: url('./assets/images/hero--services.jpg');

    @mixin atXLarge {
      min-height: calc(100vh - 180px);
    }

  }


  /* places the text content on the home page hero image */
  &__text-content {
    grid-column: 1/-1;
    grid-row: 1;
    align-self: center;
    color: #fff;
    margin: 7.5rem 0 2rem 0;
    z-index: 1;

    @mixin atXLarge {
      margin: 7.5rem 0 2rem 3rem;
    }

  }


  /* the heading 'TRANSFORMING YOUTHS INTO ADULTS' on the homepage  */
  &__small-title {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.12em;
    line-height: 18px;
    letter-spacing: 0.12em;

    @mixin atSmall {
      font-size: 16px;
      line-height: 23px;
    }

    @mxin atMedium {
      font-size: 24px;
    }
  }


  /* creates the green line under the hero small title */
  &__small-title:after {
    position: absolute;
    display: block;
    content: '';
    width: 57px;
    height: 3px;
    left: 0;
    top: 120%;
    background-color: $green;

    @media (min-width: 448px) {
      top: 120%
    }

    @media (min-width: 480px) {
      top: 150%;
      height: 15%;
      width: 17%;
    }

    @mixin atSmall {
      width: 80px;
      height: 4px;
    }

    @mixin atMedium {
      top: 150%;
      height: 6px;
      width: 114px;
      width: 80px;
    }

    @mixin atXLarge {
      height: 25%;
      width: 6%;
    }

  }


  /* the heading 'FOSTER CARE SUPPORT TO TRANSFORM YOUNG LIVES IN BALTIMORE' on the homepage */
  &__large-title {
    font-family: 'BeVietnam-SemiBoldr';
    font-size: 24px;
    line-height: 24px;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 0;

    @mixin atSmall {
      font-size: 58px;
      line-height: 64px;
    }

    @mixin atLarge {
      font-size: 84px;
      line-height: 93px;
    }

  }

  /* center hero tile' */
  &__large-title-center {
    font-size: 36px;
    max-width: none;
    text-align: center;

    @mixin atSmall {
      font-size: 96px;
    }
  }

  /* 'Founded in 2019 in Baltimore .... ' */
  &__description {
    font-size: 16px;
    line-height: 1.4;
    max-width: 1100px;
    margin-bottom: 2.1875rem;

    @mixin atXSmall {
      margin-bottom: 2.6rem;
    }

    @mixin atSmall {
      font-size: 22px;
      margin-bottom: 4rem;
    }

    @mixin atMedium {
      margin-bottom: 3rem;
    }

    @mixin atLarge {
      font-size: 32px;
      margin-bottom: 3.3rem;
    }

    @mixin atXLarge {
      margin-bottom: 4.5rem;
    }

  }

}