.paragraph {
  font-family: 'BeVietnam-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $black;
  margin-bottom: 1.25rem;

  @mixin atSmall {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 3.125rem;
  }

  &--medium {
    font-size: 16px;
    line-height: 30px;

    @mixin atSmall {
      font-size: 18px;
      line-height: 30px;
    }

    @mixin atMedium {
      font-size: 21px;
      line-height: 33px;
    }
  }

  &--white {
    color: #fff;
  }

}